extends layout

block content
    #banner.page-header
        .row
            .col-md-6.col-sm-12
            h1 About us
        .row
            .col-md-6.col-sm-12
                p
                    | Loc9r was created to help people find places to sit down and get a bit of work done.
                    | <br /><br />
                    | Pratical learning model of developing a working application